.line-container {
    margin: auto;
    margin-top : 100px;
    width: 80%;
    border: 3px solid rgb(148, 213, 220);
    padding: 20px;
  }
.lines-container {

  margin: auto;
  margin-top : 100px;
  width: 80%;
  border: 3px solid rgb(148, 213, 220);
  padding: 20px;

}  

span{
    padding: 0 40px 0 40px;
    font-size: 30px;
}
  